Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@b00000001 
vercel
/
vercel
Public
Fork your own copy of vercel/vercel
Code
Issues
155
Pull requests
63
Discussions
Actions
Wiki
Security
Insights
vercel/examples/svelte/public/global.css
@leerob
leerob [frameworks][examples] Add support for zero-config SvelteKit (#6482)
…
Latest commit 8950cd9 on Jul 23, 2021
 History
 3 contributors
@AndyBitz@styfle@leerob
 63 lines (52 sloc)  890 Bytes

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
vercel/global.css at main · vercel/vercel